@import "tailwindcss";

/* Light mode */
body {
  background-color: white;
  color: black;
}

/* Dark mode (controlled by .dark class) */
html.dark body {
  background-color: #111827; /* gray-900 */
  color: white;
}